.card-containers{
    display: flex;
}
.card{
    margin: 1rem;
}
.sidebar{
    position: fixed;
    margin-top: 5rem;
}
.title {
    display: flex;
    justify-content: center;
}
#page-content{
    display: flex;
    flex-direction: row;
}
#products{
    width: 100%;
}