<div class="container">
    <div class="title">
        <h1>Produits</h1>
    </div>
    <div class="btn-container">
        <button class="btn btn-primary" routerLink="/admin/products/new_product">Ajouter un nouveau produit</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Stock</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.image }}</td>
                <td><button class="btn btn-primary" (click)="navigate(product.id)">Gérer</button></td>
            </tr>
        </tbody>
    </table>
</div>