<div class="container">
    <div class="title">
        <h1>Utilisateurs</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Mail</th>
                <th scope="col">Crédit</th>
                <th scope="col">Rôle</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.secondName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.credit }}</td>
                <td>{{ showRole(user.role) }}</td>
                <td><button class="btn btn-primary" 
                    (click)="switchRole(user.role, user.id)">Changer le rôle</button>
                    <button class="btn btn-primary" [disabled]="user.role === 0"
                    (click)="navigate(user.id)">Créditer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
