 <div class="parent-container">
    <div class="container">
      <div class="row">
        <div class="col">
          <i class="horaires">Lundi : 18h30 - 20h00</i>
          <p><i class="horaires"> Jeudi : 18h30 - 20h00</i></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <img src="https://i.ibb.co/X4388Hr/logo-Entr-Ema.png" alt="logo-Entr-Ema" style="width: 100px;margin: 10px;border-radius: 0px;border-bottom-width: 0px;transform: translate(0px) rotate(0deg) scale(1) skew(0deg)">
          <strong class="titre" style="font-size: 50px"> ENTR'EMA</strong>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row-user">
        <div class="col">
          <a href="/login" class="login_access" router_link="login"><fa-icon [icon]="faUser"></fa-icon></a>
        </div>
      </div>
    </div>
 </div>

<nav class="navbar navbar-dark navbar-expand-sm sticky-top textlight bg-gradient fs-4 fw-normal text-end text-light d-flex float-none" style="background-color: #0299f7">
    <div class="container-fluid">
        <a href="/home" class="icon_link" router_link="/home"><fa-icon [icon]="faHome"></fa-icon></a>
        <a href="/products" class="boutique_link" router_link="/products"><strong>BOUTIQUE</strong></a>
        <a class="icon_link" router_link=""><fa-icon [icon]="faBasket"></fa-icon></a>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="menu_deroulant" data-toggle="dropdown"> A Propos de Nous <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Nos Objectifs</a></li>
            <li><a href="#">Notre Equipe</a></li>
            <li><a href="#">Notre Histoire</a></li>
          </ul>
        </div>
    </div>
</nav>

<p></p>
